/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  background: linear-gradient(rgba(25, 60, 71, 0.6), rgba(25, 60, 71, 0.6)),
    url("/img/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heroBanner .hero__title {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.heroBanner .hero__subtitle {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.buttons {
  margin-top: 1.5rem;
}
